hr {
	 margin: 20px 0;
}
.welcome ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.welcome ul li {
	display: inline-block;
	padding: 3px 0;
}
.welcome ul li a {
	color: blue;
}
.feature-1 img {
	min-width: 100%;
	max-height: 200px;
}
.feature-1a img {
	min-width: 100%;
	max-height: 200px;
}
.feature-2 img {
	min-width: 100%;
	max-height: 200px;
}
.feature-1 .img {
	max-width: 100%;
	max-height: 200px;
	overflow: hidden;
}
.feature-1a .img {
	max-width: 100%;
	max-height: 200px;
	overflow: hidden;
}
.feature-2 .img {
	max-width: 100%;
	max-height: 200px;
	overflow: hidden;
}
.btn-group.text-left .btn {
	text-align: left !important;
	justify-content: left !important;
	font-weight: 400 !important;
}
.jumbotron {
	background: transparent;
}
.carousel-item {
    height: 500px;
    }
.carousel-caption {
    bottom: 5.25rem;
}
.card-content {
}